@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

:root {
  --background-main: hsl(222, 26%, 31%);
  --background-screen: hsl(224, 36%, 15%);
  --background-keyboard: hsl(223, 31%, 20%);
  --background-key-1: hsl(30, 25%, 89%);
  --background-key-2: hsl(225, 21%, 49%);
  --background-key-2-hover: hsl(225, 21%, 59%);
  --background-key-3: hsl(6, 63%, 50%);
  --background-key-3-hover: hsl(6, 63%, 60%);
  --shadow-key-1: hsl(28, 16%, 65%);
  --shadow-key-2: hsl(224, 28%, 35%);
  --shadow-key-3: hsl(6, 70%, 34%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-color: var(--background-main);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80%;
  max-height: 80vh;
}

#head {
  padding-left: 5%;
  font-size: 3rem;
  color: white;
  display: flex;
  align-items: center;
  height: 20%;
}

#screen {
  background-color: var(--background-screen);
  border-radius: 10px;
  color: white;
  display: flex;
  gap: 5px;
  flex-direction: column;
  text-align: end;
  padding: 2%;
  padding-bottom: 0;
}

#lower-screen {
  height: 1em;
  font-size: 3.5rem;
}

#upper-screen {
  color: gray;
  height: 1em;
  font-size: 1.5rem;
  vertical-align: baseline;
}

#keyboard {
  margin-top: 5%;
  padding: 5%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 5%;
  grid-column-gap: 3%;
  flex: 100%;
  background-color: var(--background-keyboard);
}

button {
  border-radius: 10px;
  border: none;
  background-color: var(--background-key-1);
  color: hsl(223, 31%, 20%);
  font-size: 2rem;
  box-shadow: 0px 5px 0px var(--shadow-key-1);
  vertical-align: middle;
}

button:hover {
  background-color: white;
  cursor: pointer;
}

button:active {
  transform: scale(99%, 95%);
}

.func {
  background-color: var(--background-key-2);
  color: white;
  box-shadow: 0px 5px 0px var(--shadow-key-2);
}

.func:hover {
  background-color: var(--background-key-2-hover);
}

.equal {
  background-color: var(--background-key-3);
  box-shadow: 0px 5px 0px var(--shadow-key-3);
  color: white;
}

.equal:hover {
  background-color: var(--background-key-3-hover);
}

.span {
  grid-column: span 2;
}

@media (max-width: 1200px) {
  #calculator {
    width: 50%;
  }
}

@media (max-width: 992px) {
  #calculator {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #calculator {
    width: 70%;
  }
}

@media (max-width: 576px) {
  #calculator {
    width: 90%;
  }

  #screen,
  #key-board,
  button {
    border-radius: 5px;
  }
}
